:root{
    --principale:#1dc6f2;
    --secondaire:#676767;
    --grisclair:#acacac;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    font-size:62.5%;
}

body{
    background: white;
    height:100vh;
    width:100vw;
    display:flex;
}
#main{
    width:80%;
}
#pjax-container{
    height:100%;
    overflow: auto;
    padding-top:3rem;
    padding-left:5rem;
    padding-right:5rem;
    padding-bottom:10rem;
}
/* Menu côté connecté */
.menucote{
    height:100%;
    width:20%;
    background-image: url("../img/fond_menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.menucote a{
    text-decoration: none;
    color:var(--secondaire);
}
.logo_a{
    display: flex;
    justify-content: center;
}
.logomenu{
    width:55%;
}

.infos_user{
    display:flex;
    padding-left:3rem;
}
.photo_user{
    width:7rem;
    height:7rem;
    background-color:var(--principale);
    border-radius:6rem;
    background-size:cover;
}
.infos{
    padding-left: 3rem;
}
.infos > p{
    font-size:2.5rem;
    font-weight: bold;
    width:min-content;
}
.infos > a > p{
    font-size:1.6rem;
    border:0.1rem solid grey;
    border-radius:0.5rem;
    text-align: center;
    padding:0 1rem;
}
.infos > a > p:hover{
    background-color: var(--principale);
    color:white;
}

.menu, .vosplaylists{
    padding-top:4rem;
    padding-left:3rem;
}
.menu > h3, .vosplaylists > div > h3{
    font-size:2rem;
    color:var(--grisclair);
}
.menu > a > p, .menu > div > a > p,.vosplaylists > a > p,.list > a > p{
    font-size:2.8rem;
}
.menu > a >p.actif, .menu > div > a >p.actif,.list > a > p.actif{
    color:var(--principale);
    font-weight: bold;
}
.menu > a > p > span, .menu > div > a > p > span, .vosplaylists > a > p > span,.list > a > p>span{
    padding-left:1rem;
}
.menu > a > p > i, .menu > div > a > p > i, .vosplaylists > a > p > i,.list > a > p > i{
    width:3rem;
    text-align: center;
}
.lienmusique{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lienmusique > a:nth-child(2), .vosplaylists > div > a{
    padding-right:5rem;
    font-size:2.8rem;
}
.vosplaylists > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list{
    display:flex;
    flex-direction: column-reverse;
}

/* Menu côté déconnecté */
h3.msg_auth{
    color:var(--principale);
    text-align: center;
    padding-top:3rem;
    font-size: 2.5rem;
}
.boutons_auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}
a.bouton_auth{
    width:70%;
    border:0.5rem solid var(--principale);
    border-radius:2rem;
    color:var(--principale);
    text-align: center;
}
a.bouton_auth:hover{
    color:white;
    background-color: var(--principale);
}
.bouton_auth:nth-child(1){
    margin-bottom:5rem;
    margin-top:2rem;
}

/* Page d'accueil */
.titre{
    color:var(--secondaire);
    padding-bottom:1.5rem;
    text-align: left;
    font-size:4.1rem;
}
.chansons{
    display:flex;
    flex-wrap: wrap;
    height: 90vh;
    overflow: auto;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom:10rem;
}
.div_chansons{
    height:90vh;
    position:fixed;
    overflow: hidden;
    padding-right:5rem;
}
.chanson{
    width:20%;
    height:20%;
    border-radius: 20rem;
    margin-bottom:2rem;
    overflow: hidden;
    position: relative;
}
.infoschanson{
    width:100%;
    height:100%;
    background-size: cover;
    z-index:5;
    position:absolute;
    top:0;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center;
}
h4.titrechanson{
    bottom: 10%;
    position: absolute;
    color: white;
    width:100%;
    text-align: center;
    z-index:20;
    opacity: 1;
    font-size:2.1rem;
}
.imgchanson{
    position:absolute;
    width:100%;
    background-image: url("/img/disque.png");
    height:100%;
    background-size: 105%;
    background-position: center;
    transition: rotate 3s;
}
.boutonplay{
    width:40%;
    height:40%;
    background-image: url("../img/icone_play.png");
    background-size: cover;
    position:absolute;
    z-index:20;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.boutonpause{
    width:40%;
    height:40%;
    background-size: cover;
    position:absolute;
    z-index:20;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-image: url("../img/pause-button.png");
}
.boutonplay_list{
    width: 50px;
    position: absolute;
    left: 30px;
    height: 50px;
    display:none;
}
.autoplay{
    padding-left:0.7rem;
}
.autoplayactif{
    color:black;
}

a.a_like > i.jelike{
    color:red;
    font-size:4rem;
}
a.a_like > i.jelikepas{
    color:grey;
    font-size:4rem;
}
a.a_like{
    position: absolute;
    left:75%;
    top:50%;
    z-index:20;
    transform: translateY(-50%);
}
a.a_like > i{
    font-size:3rem;
}

.rotate{
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/* Page de connexion */
.formconnexion{
    height:100%;
    text-align: center;
}
.formconnexion > form{
    height:min-content;
    min-height:50%;
    padding-top:4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formconnexion > h3{
    text-align: center;
    font-size:1.8rem;
    padding-top:6rem;
}
.input_form{
    width:60%;
    height:16%;
    border:0.4rem solid var(--principale);
    font-size:2rem;
    margin-bottom:4rem;
    border-radius: 1rem;
    padding:1rem;
}
.input_form_password{
    width:30%;
    height:50%;
    border:0.4rem solid var(--principale);
    font-size:2rem;
    margin-bottom:4rem;
    border-radius: 1rem;
    padding:1rem;
}
.remember{
    width:50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:1rem;
}
button.bouton_auth{
    width:50%;
    border:0.5rem solid var(--principale);
    border-radius:6rem;
    color:var(--principale);
    text-align: center;
    background-color: white;
    height:15%;
    font-size:1.8rem;
    margin-top:4rem;
}
button.bouton_auth:hover{
    color:white;
    background-color: var(--principale);
    cursor: pointer;
}
.mdpoublie{
    color:var(--secondaire);
}
.erreurlogin{
    color:red;
    padding-bottom:2rem;
}
.versinscription{
    text-decoration: none;
    color:var(--principale);
}



/* Custom checkbox */
/* The container */
.my_checkbox {
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    font-size: 2.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.my_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 2.5rem;
    width: 2.5rem;
    background-color: #eee;
    border:0.1rem solid var(--grisclair);
}

/* On mouse-over, add a grey background color */
.my_checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.my_checkbox input:checked ~ .checkmark {
    background-color: var(--principale);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.my_checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.my_checkbox .checkmark:after {
    left: 0.9rem;
    top: 0.5rem;
    width: 0.5rem;
    height: 1rem;
    border: solid white;
    border-width: 0 0.3rem 0.3rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*add chansons */

.formconnexion .col {
    color:var(--secondaire);
}

.formconnexion .bouton_aut{
    width: 50%;
    border: 0.5rem solid var(--principale);
    border-radius: 6rem;
    color: var(--principale);
    text-align: center;
    background-color: white;
    height: 15%;
    font-size: 1.8rem;
    margin-top: 4rem;
}
.input_file{
    display: none;
}

.label-file{
    font-size:2.4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fit-file {
    margin-left: 10rem;
}

/* Favoris */

.listfavor{
    display: flex;
    align-items: center;
    margin-bottom:1.5rem;
    border-radius:0.7rem;
}
.btnsuppr{
    text-decoration: none;
    color:var(--grisclair);
}
.btnsuppr:hover{
    color:var(--principale);
}
.listfavor:hover,.musiqueencours{
    background-color: #e2e2e2;
}
.listfavor span:nth-child(1){
    display:flex;
    align-items: center;
    width: 30%;
}
.listfavor span:nth-child(2){
    width: 20%;
}
.listfavor span:nth-child(3){
    width: 20%;
}
.listfavor span:nth-child(4){
    width: 20%;
}
.listfavor span:nth-child(5){
    width: 10%;
}
.listfavor span:nth-child(5) > a{
    text-decoration: none;
    color:var(--grisclair);
    font-size:1.8rem;
}
.listfavor span:nth-child(5) > a:hover{
    color:var(--principale);
}
.listfavor span{
    color:var(--grisclair);
    font-size: 1.8rem;
}
.titrefav{
    color:var(--secondaire) !important;
    position:relative;
}
.titrefav > .boutonlecture{
    display:block;
    position:absolute;
    font-size:2rem;
    color:#e2e2e2;
    left:1.5rem;
    z-index: 100;
}
.titrefav:hover > .boutonlecture{
    display:block;
    position:absolute;
    font-size:2rem;
    color:#e2e2e2;
    left:1.5rem;
    z-index: 100;
}
.titrefav:hover > .fit-picture{
    filter:brightness(70%);
}
.esp{
    margin-right:0.5rem;
}
.fit-picture{
    width:6rem;
    height:6rem;
    margin-right:1rem;
    border-radius:0.7rem;
}

/* page utilisateur */

.user{
    margin-top:5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fit-user{
    border-radius:10rem;
    width:20rem;
    height:20rem;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.fit-user:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.user div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:var(--secondaire);
}
.user div form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:var(--secondaire);
}
.us{
    margin-bottom:2rem;
}
.form{
    width: 100% !important;
}

.bouton_aut{
    width: 50%;
    border: 0.5rem solid var(--principale);
    border-radius: 6rem;
    color: var(--principale);
    text-align: center;
    background-color: white;
    height: 15%;
    font-size: 1.8rem;
}

.user div ul li{
    list-style-type:none;
    font-size:2.4rem;
}
.info{
    text-align: center;
}
.info ul li{
    list-style-type: none;
}
.info h3{
    font-size: 4.8rem;
    color:var(--secondaire);
    margin-bottom:4rem;
}

.imp{
    display: flex;
    justify-content: space-around;
}
.lf{
    margin-left:5rem;
}
.suivre{
    text-decoration: none;
    color: var(--secondaire);
    margin-top:2rem;
    font-size: 2rem;
}
.suivre:hover{
    color: var(--principale);
}
.noUser{
    margin-top:5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    font-size: 10rem;

}
.noUser div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:var(--secondaire);
}

/* Page playlists */
.fit-play{
    width: 25rem;
    height: 25rem;
    border-radius: 1rem;
    margin-right:3.5rem;
    margin-left:3.5rem;
}
.playlistt{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height:90vh;
    overflow: auto;
    padding-bottom:10rem;
    position:fixed;
}
.listplaylist{
    margin-bottom:5rem;
}
.listplaylist > p{
    text-align: center;
    font-size:1.8rem;
}

.playlistt a{
    text-decoration:none;
    color:var(--secondaire);
}

.enviecreation{
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
}

/*form search*/

#search{
    position: absolute;
    right:1rem;
    margin-top:3rem;
    z-index:20;
}
#search input[type=search]{
    padding: 0.5rem;
    font-size: 1.7rem;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border:none;
}

#search input[type=submit]{
    float: left;
    width: 20%;
    padding: 0.5rem;
    background: var(--principale);
    color: white;
    font-size: 1.7rem;
    border:none;
    cursor: pointer;
}

/* page 404 */

.error404{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.error404 img {
    height:60rem;
}

/* Player audio */
.audio-player {
    border: 0.1rem solid #dfdfdf;
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: row;
    position:fixed;
    bottom:0;
    height:10rem;
    background-color: var(--principale);
    width:100vw;
    z-index:100;
    color:white;
}
.lancement{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: var(--principale);
    display: flex;
    align-items: center;
    color:white;
    overflow:hidden;
    font-size:3.8rem;
}
.lancement > h2{
    position:absolute;
    display:inline-table;
    animation:gauche-droite 10s;
    left:50%;
    transform: translateX(-50%);
}
@keyframes gauche-droite {
    0% {
        left:-20%;
    }
    100% {
        left:50%;
        transform: translateX(-50%);
    }
}

.audio-player .album-image {
    min-height: 10rem;
    width: 11rem;
    background-size: cover;
    background-position:center;
    display:none;
}
.audio-player .player-controls {
    align-items: center;
    justify-content: center;
    flex: 3;
}
.audio-player .player-controls progress {
    width: 90%;
}
.audio-player .player-controls progress[value] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    color: white;
    height: 1rem;
}
.audio-player .player-controls progress[value]::-webkit-progress-bar {
    background-color: lightgray;
    border-radius: 0.2rem;
    border: 0.1rem solid #dfdfdf;
    color: white;
}
.audio-player .player-controls progress::-webkit-progress-value {
    background-color: white;
}
.audio-player .player-controls p {
    font-size: 1.6rem;
}
.audio-player #play-btn {
    background-image: url("../img/play-button.png");
    background-size: cover;
    width: 5rem;
    height: 5rem;
    margin-left:1.5rem;
}
.audio-player #play-btn.pause {
    background-image: url("../img/pause-button.png");
}

/* Flip card ajout playlist */

.flip-card {
    width: 30rem;
    height: 30rem;
    margin-top:4rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-inner-rot {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
    background-color: black;
    z-index:100;
}

a.a_plus{
    position: absolute;
    font-size: 2.5rem;
    right:80%;
    top:50%;
    z-index:20;
    transform: translateY(-50%);
}
a.a_plus > i.plus{
    color:grey;
    font-size:4rem;
}
a.a_retour{
    position: absolute;
    font-size: 2.5rem;
    left:50%;
    top:75%;
    z-index:20;
    transform: translateX(-50%);
}
a.a_retour > i.retour{
    color:grey;
    font-size: 4.5rem;
}
.playlist_back{
    text-align: center;
    position: relative;
    color:white;
}
.flip-card-back > div > a{
    text-decoration: none;
    color:white;
}
.listeplaylists{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 54%;
    overflow: auto;
}
.listeplaylists > a {
    font-size: 2.5rem;
}
.imgchansonback{
    filter:brightness(0.2);
}
.danslaplaylist{
    color:green;
    display:flex;
    align-items: center;
    justify-content: center;
    width:max-content;
}
.danslaplaylist > i{
    margin-left:0.5rem;
}
.addplaylist{
    width:max-content;
}
.menu2{
    display: none;
}
.visible{
    display:block!important;
}
.interrogation{
    background-color: var(--secondaire);
    border-radius:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width:25rem;
    height:25rem;
    margin-right: 3.5rem;
    margin-left: 3.5rem;
}
.interrogation > img{
    padding:1rem;
}

/* Responsive */
@media screen and (max-width:800px){
    body{
        flex-direction:column;
    }
    .titre>a{
        display: block;
    }
    #main{
        width:100%;
        display:flex;
        flex-direction: column;
    }
    #pjax-container{
        height:70vh;
        padding:0;
    }
    #search{
        width:90%;
        margin:0.7rem auto;
        position: relative;
        right:0;
    }
    #search input[type="search"]{
        width: 60%;
    }
    #search input[type="submit"]{
        width: 40%;
    }
    .infos_user{
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    .infos{
        padding-left: 0;
    }
    .menu{
        padding-left: 1rem;
    }
    .fit-play{
        margin-left: 0;
    }
    .photo_user{
        width: 2.9rem;
        height: 2.9rem;
    }
    .favrep{
        display: none;
    }
    .listfavor{
        justify-content: space-between;
        width:95%;
        margin: 0 auto 4rem auto;
    }
    .error404 img{
        height: 30rem;
    }
    .menucote{
        display: none;
    }
    .menu2{
        display: flex;
        justify-content: space-evenly;
        padding:2rem 0;
        background-color:var(--principale);
    }
    .menu2 > a > i{
        text-decoration:none;
        color:white;
        font-size:2.9rem;
    }
    .div_chansons{
        padding:0;
        height:73vh;
        width:100%;
    }
    .chansons{
        height:94%;
    }
    .flip-card{
        margin:0 0 2rem 0;
        width:65vw;
        height:65vw;
    }
    .flip-card:last-child{
        margin:0 0 8rem 0;
    }
    .playlist_back,.titrechanson,.lancement > h2{
        font-size:1.9rem;
    }
    .addplaylist{
        font-size:1.5rem;
    }
    .lancement > h2{
        font-size:1.8rem;
    }
    .album-image{
        display:none;
    }
    a.a_plus > i.plus{
        font-size:3rem;
    }
    a.a_like > i.jelike{
        font-size:4rem;
    }
    a.a_like > i.jelikepas{
        font-size:4rem;
    }

    /* Playlists */
    .playlistt{
        width:100vw;
        flex-wrap:nowrap;
        align-items: center;
        overflow: hidden;
        height:85%;
        justify-content: center;
        padding: 0;
    }
    .listplaylist{
        width:max-content;
        margin-bottom:0.4rem;
    }
    .listplaylist > p{
        font-size:2.2rem;
    }
    .playlistt > a{
        width:max-content;
    }
    .fit-play{
        width:65vw;
        height:65vw;
        margin-right: 0;
    }
    .titre{
        text-align: center;
        font-size:4.1rem;
        padding:0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .interrogation{
        height:65vw;
        width:65vw;
    }
    /* carousel */
    .item {
        margin: 1rem;
        background-color: #fff;
        box-shadow: 0 1.5rem 3.5rem #3232321a,0 0.5rem 1.5rem #0000001a;
        transition: transform .3s;
        transform: translate3d(0,-0.1rem,0)
    }

    .item:hover {
        transform: translate3d(0,-1rem,0)
    }

    .item img {
        display: block;
        width: 100%;
        height: auto
    }

    .item__body {
        padding: 2.5rem;
    }

    .item__title {
        font-size: 2.4rem;
        margin-bottom: 0.5rem;
        font-weight: 700;
        color: #232323
    }

    .item__description {
        color: #585858
    }

    .carousel,.items {
        position: relative;
    }

    .carousel__container {
        transition: transform .3s;
        transform: translateZ(0);
    }

    .carousel__container:after {
        content: "";
        clear: both;
        display: table;
    }

    .carousel__item {
        float: left;
    }
    .carousel__item > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .carousel__next,.carousel__prev {
        position: absolute;
        width: 4rem;
        height: 4rem;
        background: var(--principale) url('../img/fleche.png') 50% no-repeat;
        background-size: 2rem 2rem;
        border-radius: 50%;
        top: 50%;
        margin-top: -2rem;
        right: 0.3rem;
        box-shadow: 0 1.5rem 3.5rem #3232321a,0 0.5rem 1.5rem #0000001a;
        cursor: pointer;
        transition: transform .3s,opacity .3s;
    }

    .carousel__next:hover,.carousel__prev:hover {
        transform: scale(1.1);
    }

    .carousel__prev {
        background-image: url('../img/fleche_gauche.png');
        right: auto;
        left: 0.3rem;
    }

    .carousel__next--hidden,.carousel__prev--hidden {
        opacity: 0;
    }

    .carousel__pagination {
        position: absolute;
        bottom: -2rem;
        left: 0;
        right: 0;
        text-align: center;
        display: none;
    }

    .carousel__pagination__button {
        background-color: var(--principale);
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        display: inline-block;
        margin: 0 0.3rem;
        box-shadow: 0 0.2rem 0.5rem #3232321a;
        transition: transform .3s;
        cursor: pointer;
    }

    .carousel__pagination__button--active,.carousel__pagination__button:hover {
        transform: scale(1.4)
    }
    .carousel__pagination {
        display:block;
    }

    /* Infos playlist */
    .listfavor > span{
        width:max-content!important;
        padding-right:1rem;
    }
    .listfavor span > a{
        font-size:2.5rem;
    }

    /* Page user */
    .user{
        flex-direction: column;
    }
    .info h3{
        margin: 5rem 0 0 0;
    }

    /* Add playlist */
    .formconnexion .col{
        padding: 2rem 3rem;
    }
    .fit-file{
        margin-left:5rem;
    }

    /* Add musique */
    .imp{
        flex-direction: column;
    }
    .lf{
        margin:0;
    }
    /* Page recherche */
    .listemembres{
        align-items: center;
        justify-content: center;
    }
    .noUser{
        flex-direction: column;
        font-size: 8rem;
    }


}
/* Page recherche */
.listemembres{
    display: flex;
    flex-direction: column;
}
.listemembres > a{
    font-size:1.8rem;
    text-decoration: none;
    color:var(--secondaire);
}
.Addcircle{
    display: none;
}
